#banner {
    margin-top: 100px;
}

section.row {
    margin-top: 50px;
    margin-bottom: 20px
}

#captions {
  margin-bottom: 10px;
  font-size: 12;
  text-align: justify;
}

figure.captions {
  font-size: 12
}

.captions {
  margin-bottom: 10px;
  font-size: 12px;
  text-align: center;
}
